<h1 class="pad-20">Grid System</h1>

<hr>

<p class="pad-10">
  12-columns based system. The usage of the components is the following. When the screen width is shorter than a
  midium-size, it will take the entire screen width.
</p>

<png-grid>
  <png-cell-md3>
    <png-card>
      <p class="pad-10 text-center">3 columns</p>
    </png-card>
  </png-cell-md3>
  <png-cell-md5>
    <png-card>
      <p class="pad-10 text-center">5 columns</p>
    </png-card>
  </png-cell-md5>
  <png-cell-md4>
    <png-card>
      <p class="pad-10 text-center">4 columns</p>
    </png-card>
  </png-cell-md4>
  <png-cell-md6>
    <png-card>
      <p class="pad-10 text-center">6 columns</p>
    </png-card>
  </png-cell-md6>
  <png-cell-md3>
    <png-card>
      <p class="pad-10 text-center">3 columns</p>
    </png-card>
  </png-cell-md3>
  <png-cell-md3>
    <png-card>
      <p class="pad-10 text-center">3 columns</p>
    </png-card>
  </png-cell-md3>
</png-grid>

<png-grid>
  <png-cell-md12>
    <div class="">
      <png-card>
      <pre lang="HTML">
        <code>
  &lt;png-grid&gt;
    &lt;png-cell-md3&gt;
      &lt;png-card&gt;
        &lt;p class="pad-10 text-center"&gt;3 columns&lt;/p&gt;
      &lt;/png-card&gt;
    &lt;/png-cell-md3&gt;
    &lt;png-cell-md5&gt;
      &lt;png-card&gt;
        &lt;p class="pad-10 text-center"&gt;5 columns&lt;/p&gt;
      &lt;/png-card&gt;
    &lt;/png-cell-md5&gt;
    &lt;png-cell-md4&gt;
      &lt;png-card&gt;
        &lt;p class="pad-10 text-center"&gt;4 columns&lt;/p&gt;
      &lt;/png-card&gt;
    &lt;/png-cell-md4&gt;
    &lt;png-cell-md6&gt;
      &lt;png-card&gt;
        &lt;p class="pad-10 text-center"&gt;6 columns&lt;/p&gt;
      &lt;/png-card&gt;
    &lt;/png-cell-md6&gt;
    &lt;png-cell-md3&gt;
      &lt;png-card&gt;
        &lt;p class="pad-10 text-center"&gt;3 columns&lt;/p&gt;
      &lt;/png-card&gt;
    &lt;/png-cell-md3&gt;
    &lt;png-cell-md3&gt;
      &lt;png-card&gt;
        &lt;p class="pad-10 text-center"&gt;3 columns&lt;/p&gt;
      &lt;/png-card&gt;
    &lt;/png-cell-md3&gt;
  &lt;/png-grid&gt;
        </code>
      </pre>
    </png-card>
    </div>

  </png-cell-md12>
</png-grid>
