* {
  box-sizing: border-box;
  transition: all 0.5s; }

body, html {
  margin: 0; }

body {
  min-height: 100vh; }

body {
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #f5f5f5; }

p {
  margin: 0;
  color: #f5f5f5; }

label {
  margin: 0;
  color: #f5f5f5; }

.text-center {
  text-align: center; }

.text-primary {
  color: #f5f5f5; }

.text-secondary {
  color: #C8CCD8; }

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid rgba(255, 255, 255, 0.15); }

.pad-5 {
  padding: 5px; }

.pad-10 {
  padding: 10px; }

.pad-20 {
  padding: 20px; }

.pad-rl-5 {
  padding-right: 5px;
  padding-left: 5px; }

.pad-rl-10 {
  padding-right: 10px;
  padding-left: 10px; }

.pad-rl-20 {
  padding-right: 20px;
  padding-left: 20px; }

.pad-tb-5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.pad-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.pad-tb-15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.pad-tb-20 {
  padding-top: 20px;
  padding-bottom: 20px; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

form {
  padding-top: 10px; }

.row {
  width: 100%;
  display: inline-flex; }
  .row div.col {
    padding: 0.5rem; }

@media only screen and (max-width: 800px) {
  .row {
    display: initial; }
    .row div.col {
      width: 100%; }
  .grid {
    display: initial; }
    .grid div.cell {
      width: 100%; } }

.grid {
  display: flex;
  flex-wrap: wrap; }
  .grid div.cell {
    padding: 0.5rem; }

.md-12 {
  width: 100%; }

.md-11 {
  width: 91.6666%; }

.md-10 {
  width: 83.3333%; }

.md-9 {
  width: 75%; }

.md-8 {
  width: 66.6666%; }

.md-7 {
  width: 58.3333%; }

.md-6 {
  width: 50%; }

.md-5 {
  width: 41.6666%; }

.md-4 {
  width: 33.3333%; }

.md-3 {
  width: 25%; }

.md-2 {
  width: 16.6666%; }

.md-1 {
  width: 8.3333%; }

div.card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  height: fit-content;
  width: 100%; }

span.status {
  padding: 1px 10px 1px 10px;
  border-radius: 3px; }
  span.status.success {
    background-color: #018511; }
  span.status.primary {
    background-color: #027eef; }
  span.status.secondary {
    background-color: #434552; }
  span.status.warning {
    background-color: #eb9b34; }
  span.status.danger {
    background-color: #9c0000; }

button.btn {
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
  margin: 0px 5px 5px 0px;
  cursor: pointer; }
  button.btn:disabled {
    cursor: not-allowed; }
  button.btn.btn-normal {
    color: #f5f5f5; }
    button.btn.btn-normal:hover {
      filter: brightness(120%); }
    button.btn.btn-normal:disabled {
      filter: brightness(80%) !important; }
    button.btn.btn-normal.btn-primary {
      background-color: #027eef; }
    button.btn.btn-normal.btn-secondary {
      background-color: #434552; }
    button.btn.btn-normal.btn-success {
      background-color: #018511; }
    button.btn.btn-normal.btn-warning {
      background-color: #eb9b34; }
    button.btn.btn-normal.btn-danger {
      background-color: #9c0000; }
  button.btn.btn-line {
    background-color: transparent;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px; }
    button.btn.btn-line.btn-primary {
      color: #027eef; }
    button.btn.btn-line.btn-secondary {
      color: #706666; }
    button.btn.btn-line.btn-success {
      color: #018511; }
    button.btn.btn-line.btn-warning {
      color: #eb9b34; }
    button.btn.btn-line.btn-danger {
      color: #9c0000; }
    button.btn.btn-line:hover.btn-primary {
      background-color: #027eef20; }
    button.btn.btn-line:hover.btn-secondary {
      background-color: #43455220; }
    button.btn.btn-line:hover.btn-success {
      background-color: #01851120; }
    button.btn.btn-line:hover.btn-warning {
      background-color: #eb9b3420; }
    button.btn.btn-line:hover.btn-danger {
      background-color: #9c000020; }
    button.btn.btn-line:hover:disabled {
      background-color: transparent !important; }

button.btn-icon {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: none;
  margin: 0px 5px 5px 0px;
  cursor: pointer; }
  button.btn-icon:disabled {
    cursor: not-allowed; }
  button.btn-icon.btn-icon-normal {
    color: #f5f5f5; }
    button.btn-icon.btn-icon-normal:hover {
      filter: brightness(120%); }
    button.btn-icon.btn-icon-normal:disabled {
      filter: brightness(80%) !important; }
    button.btn-icon.btn-icon-normal.btn-primary {
      background-color: #027eef; }
    button.btn-icon.btn-icon-normal.btn-secondary {
      background-color: #434552; }
    button.btn-icon.btn-icon-normal.btn-success {
      background-color: #018511; }
    button.btn-icon.btn-icon-normal.btn-warning {
      background-color: #eb9b34; }
    button.btn-icon.btn-icon-normal.btn-danger {
      background-color: #9c0000; }
  button.btn-icon.btn-icon-line {
    background-color: transparent;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px; }
    button.btn-icon.btn-icon-line.btn-primary {
      color: #027eef; }
    button.btn-icon.btn-icon-line.btn-secondary {
      color: #706666; }
    button.btn-icon.btn-icon-line.btn-success {
      color: #018511; }
    button.btn-icon.btn-icon-line.btn-warning {
      color: #eb9b34; }
    button.btn-icon.btn-icon-line.btn-danger {
      color: #9c0000; }
    button.btn-icon.btn-icon-line:hover.btn-primary {
      background-color: #027eef20; }
    button.btn-icon.btn-icon-line:hover.btn-secondary {
      background-color: #43455220; }
    button.btn-icon.btn-icon-line:hover.btn-success {
      background-color: #01851120; }
    button.btn-icon.btn-icon-line:hover.btn-warning {
      background-color: #eb9b3420; }
    button.btn-icon.btn-icon-line:hover.btn-danger {
      background-color: #9c000020; }
    button.btn-icon.btn-icon-line:disabled:hover {
      background-color: transparent !important; }

.btn.shadow-primary {
  box-shadow: 0px 0px 10px #027eef; }

.btn.shadow-secondary {
  box-shadow: 0px 0px 10px #434552; }

.btn.shadow-warning {
  box-shadow: 0px 0px 10px #eb9b34; }

.btn.shadow-danger {
  box-shadow: 0px 0px 10px #9c0000; }

.btn.shadow-success {
  box-shadow: 0px 0px 10px #018511; }

.btn-icon.shadow-primary {
  box-shadow: 0px 0px 10px #027eef; }

.btn-icon.shadow-secondary {
  box-shadow: 0px 0px 10px #434552; }

.btn-icon.shadow-warning {
  box-shadow: 0px 0px 10px #eb9b34; }

.btn-icon.shadow-danger {
  box-shadow: 0px 0px 10px #9c0000; }

.btn-icon.shadow-success {
  box-shadow: 0px 0px 10px #018511; }

input, textarea {
  padding: 7px;
  border-radius: 5px;
  max-width: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  color: #f5f5f5;
  border-style: none; }
  input:disabled, textarea:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
  input[type=text], textarea[type=text] {
    padding: 7px; }
  input:focus-visible, textarea:focus-visible {
    outline: 1px solid #027eef; }
  input.error, textarea.error {
    border: 1px solid #9c0000; }
    input.error:focus-visible, textarea.error:focus-visible {
      border: 1px solid #9c0000;
      outline: 1px solid #9c0000; }

div.input-icon {
  color: #f5f5f5;
  position: relative; }
  div.input-icon input.left-icon {
    padding-left: 35px; }
  div.input-icon input.right-icon {
    padding-right: 35px; }
  div.input-icon i {
    position: absolute; }
    div.input-icon i.left-icon {
      padding-left: 5px;
      padding-top: 7px; }
    div.input-icon i.right-icon {
      right: 10px;
      padding-top: 7px; }

/* The container */
.radio-container {
  display: block;
  position: relative;
  padding-left: 27px;
  font-size: 14px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0; }
  .radio-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border-color: #706666;
    border-style: solid;
    border-width: 2px; }
  .radio-container:hover input ~ .checkmark {
    border-color: #C8CCD8; }
  .radio-container input:checked ~ .checkmark {
    background-color: #027eef;
    border-color: #f5f5f5; }
  .radio-container .checkmark:after {
    content: "";
    position: absolute;
    display: none; }
  .radio-container .checkmark:after {
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #f5f5f5; }

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    border-color: #706666;
    border-style: solid;
    border-width: 2px; }
  .checkbox-container:hover input ~ .checkmark {
    border-color: #C8CCD8; }
  .checkbox-container input:checked ~ .checkmark {
    background-color: #027eef;
    border-style: none; }
  .checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none; }
  .checkbox-container input:checked ~ .checkmark:after {
    display: block; }
  .checkbox-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #f5f5f5;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.slider-switch {
  position: relative;
  display: inline-block;
  height: 19px;
  cursor: pointer; }
  .slider-switch input {
    opacity: 0;
    width: 0;
    height: 0; }
  .slider-switch:hover .slider.round {
    background-color: #383c48; }
  .slider-switch:hover input:checked + .slider.round {
    background-color: #027eef; }
  .slider-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: .4s;
    transition: .4s;
    width: 39px; }
    .slider-switch .slider:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      left: 3px;
      bottom: 2px;
      background-color: #f5f5f5;
      -webkit-transition: .4s;
      transition: .4s; }
  .slider-switch input:checked + .slider {
    background-color: #027eef; }
  .slider-switch input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px); }
  .slider-switch .slider.round {
    border-radius: 34px; }
  .slider-switch .slider.round:before {
    border-radius: 50%; }
  .slider-switch .slider-right-label {
    padding-left: 32px;
    bottom: 3px;
    position: relative; }
  .slider-switch .slider-right {
    left: auto; }
  .slider-switch .slider-left-label {
    padding-right: 32px;
    bottom: 3px;
    position: relative;
    padding-left: 0px; }

div.range-wrapper {
  position: relative; }
  div.range-wrapper span {
    padding: 7px;
    border-radius: 5px;
    max-width: 100%;
    width: 100%;
    height: 31px;
    background: rgba(255, 255, 255, 0.1);
    color: #f5f5f5;
    border-style: none;
    display: block;
    text-align: center; }
  div.range-wrapper input[type=range] {
    -webkit-appearance: none;
    cursor: pointer;
    width: 100%;
    height: 7px;
    border-radius: 5px;
    outline: none;
    padding: 0px;
    position: relative;
    bottom: 9px;
    left: -2px; }

#ui-datepicker-div {
  display: none;
  background-color: #0a061a;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: none; }
  #ui-datepicker-div table {
    border-collapse: collapse;
    border-spacing: 0; }

.ui-datepicker-calendar thead th {
  padding: 0.25rem 0;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  color: #C8CCD8; }

.ui-datepicker-calendar tbody td {
  width: 2.5rem;
  text-align: center;
  padding: 0; }

.ui-datepicker-calendar tbody td a {
  display: block;
  border-radius: 0.25rem;
  line-height: 2rem;
  transition: 0.3s all;
  color: #f5f5f5;
  font-size: 0.875rem;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 3px;
  margin: 3px; }

.ui-datepicker-calendar tbody td a:hover {
  background-color: rgba(255, 255, 255, 0.1); }

.ui-datepicker-calendar tbody td a.ui-state-active {
  background-color: #027eef;
  color: #f5f5f5; }

.ui-datepicker-header a.ui-corner-all {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  transition: 0.3s all; }

.ui-datepicker-header a.ui-corner-all:hover {
  background-color: rgba(255, 255, 255, 0.1); }

.ui-datepicker-header a.ui-datepicker-prev {
  left: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-size: 0.5rem;
  background-position: 50%;
  transform: rotate(180deg); }

.ui-datepicker-header a.ui-datepicker-next {
  right: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 50%; }

.ui-datepicker-header a > span {
  display: none; }

.ui-datepicker-title {
  text-align: center;
  line-height: 2rem;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  padding-bottom: 0.25rem; }

.ui-datepicker-week-col {
  color: #C8CCD8;
  font-weight: 400;
  font-size: 0.75rem; }

.ui-datepicker-month, .ui-datepicker-year {
  color: #f5f5f5; }

select.ui-datepicker-month, select.ui-datepicker-year {
  padding: 7px;
  border-radius: 5px;
  width: 70px;
  background: rgba(255, 255, 255, 0.1);
  color: #f5f5f5;
  border-style: none; }
  select.ui-datepicker-month option, select.ui-datepicker-year option {
    background: #0a061a;
    color: #f5f5f5;
    border-radius: 0px;
    padding: 5px; }

select.ui-datepicker-month {
  margin-right: 10px; }

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial; }

.custom-select select {
  display: none;
  /*hide original SELECT element:*/ }

.select-selected {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px; }

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent; }

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px; }

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none; }

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #0a061a;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s;
  max-height: 400px;
  overflow-y: auto; }

/*hide the items when the select box is closed:*/
.select-hide {
  visibility: hidden;
  opacity: 0; }

.select-items div:hover, .same-as-selected {
  background-color: #027eef; }

div.table {
  font-size: 14px; }
  div.table div.table-title {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    width: 95%;
    margin: auto;
    font-size: 18px;
    color: #C8CCD8;
    font-weight: bold; }
  div.table table {
    width: 95%;
    margin: auto;
    border-spacing: 0px;
    padding-bottom: 10px; }
  div.table thead {
    color: #C8CCD8; }
    div.table thead tr th {
      border: 1px solid #383c48;
      padding: 5px;
      border-bottom: 0px;
      border-right: 0px; }
      div.table thead tr th:last-child {
        border-right: 1px solid #383c48; }
  div.table tbody {
    color: #f5f5f5; }
    div.table tbody tr td {
      border: 1px solid #383c48;
      padding: 5px;
      border-right: 0px;
      border-bottom: 0px; }
      div.table tbody tr td:last-child {
        border-right: 1px solid #383c48; }
    div.table tbody tr:last-child td {
      border-bottom: 1px solid #383c48; }

div.loader {
  border: 8px solid #f5f5f5;
  border-radius: 50%;
  border-top: 8px solid #027eef;
  width: 60px;
  height: 60px;
  margin: auto;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  margin-top: 20px;
  margin-bottom: 20px; }
  div.loader.secondary {
    border-top: 8px solid #434552; }
  div.loader.success {
    border-top: 8px solid #018511; }
  div.loader.warning {
    border-top: 8px solid #eb9b34; }
  div.loader.danger {
    border-top: 8px solid #9c0000; }
  div.loader.multi-color {
    border-top: 8px solid #027eef;
    border-right: 8px solid #434552;
    border-bottom: 8x solid #0a061a;
    border-left: 8px solid #018511; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

main.main-container {
  background-image: linear-gradient(#383c48, #0a061a);
  min-height: 100vh;
  position: relative;
  padding-bottom: 60px;
  padding-left: 80px;
  padding-top: 20px;
  padding-right: 20px;
  overflow: hidden; }
  main.main-container div.background-image {
    position: absolute;
    opacity: 0.05;
    left: -5%; }
  main.main-container div.content {
    position: relative;
    z-index: 2; }

footer {
  background-color: #0a061a;
  color: #f5f5f5;
  padding-right: 50px;
  padding-left: 80px;
  position: absolute;
  width: 100%;
  bottom: 0; }
  footer .footer-content {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    footer .footer-content .footer-logo {
      display: flex;
      align-items: center; }
      footer .footer-content .footer-logo img.logo {
        width: 40px;
        height: 40px; }

nav.nav-side {
  position: fixed;
  z-index: 1000;
  margin: 0px;
  height: 100%;
  padding: 40px 0px 40px 0px;
  background-image: linear-gradient(#383c48, #0a061a);
  width: 60px;
  overflow: hidden; }
  nav.nav-side:hover {
    width: 300px; }
    nav.nav-side:hover div.submenu .submenu-options > li.sub-menu-option.active a {
      padding-left: 35px; }
    nav.nav-side:hover div.submenu .submenu-options > li.sub-menu-option a {
      padding-left: 40px; }
      nav.nav-side:hover div.submenu .submenu-options > li.sub-menu-option a i {
        margin-right: 15px; }
  nav.nav-side > a {
    display: block;
    color: #f5f5f5;
    font-size: 30px;
    text-decoration: none; }
    nav.nav-side > a .menu-logo {
      display: inline-flex;
      padding-bottom: 20px; }
      nav.nav-side > a .menu-logo .logo {
        margin-left: 10px;
        margin-right: 10px;
        height: 40px;
        width: 40px; }
      nav.nav-side > a .menu-logo span {
        margin-left: 20px; }
  nav.nav-side menu {
    margin: 0px;
    padding: 0px; }
    nav.nav-side menu ul.main-menu-options {
      list-style: none;
      margin: 0px;
      padding: 0px; }
      nav.nav-side menu ul.main-menu-options > li.main-option-wrapper {
        width: 300px;
        margin: 0px;
        color: #C8CCD8; }
        nav.nav-side menu ul.main-menu-options > li.main-option-wrapper a {
          text-decoration: none;
          color: #C8CCD8; }
        nav.nav-side menu ul.main-menu-options > li.main-option-wrapper.active {
          color: #f5f5f5;
          background: rgba(0, 0, 0, 0.15); }
          nav.nav-side menu ul.main-menu-options > li.main-option-wrapper.active div.main-menu-option {
            border-left: 7px solid #f5f5f5; }
            nav.nav-side menu ul.main-menu-options > li.main-option-wrapper.active div.main-menu-option > i.left-icon {
              padding-left: 5px;
              width: 43px; }
        nav.nav-side menu ul.main-menu-options > li.main-option-wrapper.expanded div.main-menu-option > i.fa.fa-chevron-down {
          transform: rotate(180deg); }
        nav.nav-side menu ul.main-menu-options > li.main-option-wrapper .main-menu-option {
          cursor: pointer;
          padding: 10px;
          display: inline-flex;
          align-items: center;
          width: 300px; }
          nav.nav-side menu ul.main-menu-options > li.main-option-wrapper .main-menu-option:hover {
            background-color: #383c48; }
          nav.nav-side menu ul.main-menu-options > li.main-option-wrapper .main-menu-option > i.left-icon {
            width: 50px;
            padding-left: 10px; }
          nav.nav-side menu ul.main-menu-options > li.main-option-wrapper .main-menu-option > i.right-icon {
            width: 17px; }
          nav.nav-side menu ul.main-menu-options > li.main-option-wrapper .main-menu-option > div.menu-label {
            width: 200px; }

.nav-side div.submenu {
  overflow: hidden;
  height: 0px; }
  .nav-side div.submenu .submenu-options {
    background: rgba(0, 0, 0, 0.2);
    list-style: none;
    padding-left: 0px; }
    .nav-side div.submenu .submenu-options > li.sub-menu-option.active {
      border-left: 5px solid #f5f5f5; }
      .nav-side div.submenu .submenu-options > li.sub-menu-option.active a {
        padding-left: 15px; }
    .nav-side div.submenu .submenu-options > li.sub-menu-option a {
      cursor: pointer;
      padding: 10px;
      padding-left: 20px;
      display: block; }
      .nav-side div.submenu .submenu-options > li.sub-menu-option a:hover {
        background-color: #383c48; }
      .nav-side div.submenu .submenu-options > li.sub-menu-option a i {
        margin-right: 25px; }
